[submodule "volt"]
	path = volt
	url = git@github.com:themesberg/volt-bootstrap-5-dashboard.git
[submodule "subs/portal-theme-bs5"]
	path = subs/portal-theme-bs5
	url = git@github.com:xriley/portal-theme-bs5.git
